In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
dir_path = '/content/drive/MyDrive/DataScience/SIGNATE/従業員の離職予測/データ/'
df_train = pd.read_csv(dir_path + 'train.csv')
df_test = pd.read_csv(dir_path + 'test.csv')

In [4]:
df_train

,id,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,...,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
0,0,26,Travel_Rarely,450.941476,Research & Development,7.601074,3,Medical,1291,4,...,80,0,1,3,2,11,8,7,0,0
1,3,47,Travel_Rarely,730.235896,Research & Development,26.739489,3,Technical Degree,1587,2,...,80,1,20,1,1,5,9,4,4,0
2,7,26,Travel_Rarely,1082.560066,Human Resources,7.374739,3,Life Sciences,1591,2,...,80,1,4,3,3,3,2,0,2,0
3,10,46,Travel_Rarely,706.247579,Research & Development,14.791373,1,Medical,1572,1,...,80,1,6,0,1,5,4,7,7,1
4,11,25,Travel_Rarely,500.610860,Research & Development,2.146966,4,Medical,981,2,...,80,1,8,3,3,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,1988,49,Travel_Rarely,969.251891,Research & Development,13.243579,2,Medical,1587,4,...,80,0,33,3,2,3,2,1,2,0
1196,1994,37,Travel_Frequently,437.940367,Research & Development,2.339438,1,Other,137,4,...,80,0,6,5,2,9,2,0,8,0
1197,1996,40,Non-Travel,978.883360,Human Resources,10.214979,3,Life Sciences,1587,3,...,80,1,19,2,3,14,9,9,9,0
1198,1997,37,Travel_Frequently,170.494984,Sales,2.639879,2,Marketing,120,1,...,80,2,6,5,3,3,2,0,3,0
1199,1998,26,Travel_Rarely,72.733977,Research & Development,28.016088,2,Life Sciences,215,1,...,80,1,7,2,2,2,2,2,2,1

In [5]:
df_train['BusinessTravel'] = df_train['BusinessTravel'].replace({'Non-Travel':'1','Travel_Frequently':'2','Travel_Rarely':'3'})
df_train['Department'] = df_train['Department'].replace({'Human Resources':'1','Research & Development':'2','Sales':'3'})
df_train['EducationField'] = df_train['EducationField'].replace({'Human Resources':'1','Life Sciences':'2','Marketing':'3','Medical':'4','Other':'5','Technical Degree':'6'})
df_train['Gender'] = df_train['Gender'].replace({'Female':'1','Male':'2'})
df_train['Education'] = df_train['Education'].replace({'Below College':'1','College':'2','Bachelor':'3','Master':'4','Doctor':'5'})
df_train['EnvironmentSatisfaction'] = df_train['EnvironmentSatisfaction'].replace({'Low':'1','Medium':'2','High':'3','Very High':'4'})
df_train['JobInvolvement'] = df_train['JobInvolvement'].replace({'Low':'1','Medium':'2','High':'3','Very High':'4','Other':'5','Technical Degree':'6'})
df_train['JobSatisfaction'] = df_train['JobSatisfaction'].replace({'Low':'1','Medium':'2','High':'3','Very High':'4'})
df_train['MaritalStatus'] = df_train['MaritalStatus'].replace({'Divorced':'1','Married':'2','Single':'3'})
df_train['Over18'] = df_train['Over18'].replace({'Y':'1','N':'2'})
df_train['OverTime'] = df_train['OverTime'].replace({'Yes':'2','No':'1'})
df_train['JobRole'] = df_train['JobRole'].replace({'Laboratory Technician':'1','Research Scientist':'2','Human Resources':'3','Manufacturing Director':'4','Sales Executive':'5','Sales Representative':'6','Healthcare Representative':'7','Research Director':'8','Manager':'9'})
df_train

,id,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,...,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
0,0,26,3,450.941476,2,7.601074,3,4,1291,4,...,80,0,1,3,2,11,8,7,0,0
1,3,47,3,730.235896,2,26.739489,3,6,1587,2,...,80,1,20,1,1,5,9,4,4,0
2,7,26,3,1082.560066,1,7.374739,3,2,1591,2,...,80,1,4,3,3,3,2,0,2,0
3,10,46,3,706.247579,2,14.791373,1,4,1572,1,...,80,1,6,0,1,5,4,7,7,1
4,11,25,3,500.610860,2,2.146966,4,4,981,2,...,80,1,8,3,3,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,1988,49,3,969.251891,2,13.243579,2,4,1587,4,...,80,0,33,3,2,3,2,1,2,0
1196,1994,37,2,437.940367,2,2.339438,1,5,137,4,...,80,0,6,5,2,9,2,0,8,0
1197,1996,40,1,978.883360,1,10.214979,3,2,1587,3,...,80,1,19,2,3,14,9,9,9,0
1198,1997,37,2,170.494984,3,2.639879,2,3,120,1,...,80,2,6,5,3,3,2,0,3,0
1199,1998,26,3,72.733977,2,28.016088,2,2,215,1,...,80,1,7,2,2,2,2,2,2,1

In [6]:
df_test['BusinessTravel'] = df_test['BusinessTravel'].replace({'Non-Travel':'1','Travel_Frequently':'2','Travel_Rarely':'3'})
df_test['Department'] = df_test['Department'].replace({'Human Resources':'1','Research & Development':'2','Sales':'3'})
df_test['EducationField'] = df_test['EducationField'].replace({'Human Resources':'1','Life Sciences':'2','Marketing':'3','Medical':'4','Other':'5','Technical Degree':'6'})
df_test['Gender'] = df_test['Gender'].replace({'Female':'1','Male':'2'})
df_test['Education'] = df_test['Education'].replace({'Below College':'1','College':'2','Bachelor':'3','Master':'4','Doctor':'5'})
df_test['EnvironmentSatisfaction'] = df_test['EnvironmentSatisfaction'].replace({'Low':'1','Medium':'2','High':'3','Very High':'4'})
df_test['JobInvolvement'] = df_test['JobInvolvement'].replace({'Low':'1','Medium':'2','High':'3','Very High':'4','Other':'5','Technical Degree':'6'})
df_test['JobSatisfaction'] = df_test['JobSatisfaction'].replace({'Low':'1','Medium':'2','High':'3','Very High':'4'})
df_test['MaritalStatus'] = df_test['MaritalStatus'].replace({'Divorced':'1','Married':'2','Single':'3'})
df_test['Over18'] = df_test['Over18'].replace({'Y':'1','N':'2'})
df_test['OverTime'] = df_test['OverTime'].replace({'Yes':'2','No':'1'})
df_test['JobRole'] = df_test['JobRole'].replace({'Laboratory Technician':'1','Research Scientist':'2','Human Resources':'3','Manufacturing Director':'4','Sales Executive':'5','Sales Representative':'6','Healthcare Representative':'7','Research Director':'8','Manager':'9'})
df_test

,id,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,1,34,2,358.039056,2,9.926847,3,2,843,1,...,3,80,1,11,2,3,7,7,2,7
1,2,37,3,749.376719,2,10.391959,3,4,1361,1,...,4,80,0,5,3,2,1,3,1,0
2,4,34,2,958.484177,2,3.297025,3,2,975,2,...,3,80,1,21,2,2,4,3,1,4
3,5,34,3,79.174592,2,2.430032,4,4,1591,3,...,4,80,3,9,3,3,20,6,1,4
4,6,29,3,943.191218,2,10.017149,2,2,1803,3,...,3,80,1,25,2,4,1,7,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,1991,26,3,1437.994264,2,1.312387,3,4,716,1,...,4,80,1,1,3,3,13,10,5,13
796,1992,25,3,446.793690,2,6.906007,4,4,1719,1,...,3,80,0,6,5,2,5,4,0,4
797,1993,26,2,97.635598,2,10.730256,3,4,1027,3,...,2,80,0,9,2,3,5,4,1,4
798,1995,25,2,69.246616,2,0.878959,3,5,1766,2,...,2,80,2,5,3,3,5,0,0,0
799,1999,37,3,1276.251430,2,18.165073,3,5,716,4,...,1,80,0,4,2,4,2,0,1,0

In [7]:
df_train['JobRole'].unique()

array(['1', '2', '3', '4', '5', '6', '7', '8', '9'], dtype=object)

In [8]:
X_train = df_train.drop('Attrition',axis=1)
X_train

,id,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,0,26,3,450.941476,2,7.601074,3,4,1291,4,...,3,80,0,1,3,2,11,8,7,0
1,3,47,3,730.235896,2,26.739489,3,6,1587,2,...,3,80,1,20,1,1,5,9,4,4
2,7,26,3,1082.560066,1,7.374739,3,2,1591,2,...,2,80,1,4,3,3,3,2,0,2
3,10,46,3,706.247579,2,14.791373,1,4,1572,1,...,4,80,1,6,0,1,5,4,7,7
4,11,25,3,500.610860,2,2.146966,4,4,981,2,...,2,80,1,8,3,3,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,1988,49,3,969.251891,2,13.243579,2,4,1587,4,...,2,80,0,33,3,2,3,2,1,2
1196,1994,37,2,437.940367,2,2.339438,1,5,137,4,...,4,80,0,6,5,2,9,2,0,8
1197,1996,40,1,978.883360,1,10.214979,3,2,1587,3,...,2,80,1,19,2,3,14,9,9,9
1198,1997,37,2,170.494984,3,2.639879,2,3,120,1,...,1,80,2,6,5,3,3,2,0,3
1199,1998,26,3,72.733977,2,28.016088,2,2,215,1,...,1,80,1,7,2,2,2,2,2,2

In [9]:
X_test = df_test
X_test

,id,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,1,34,2,358.039056,2,9.926847,3,2,843,1,...,3,80,1,11,2,3,7,7,2,7
1,2,37,3,749.376719,2,10.391959,3,4,1361,1,...,4,80,0,5,3,2,1,3,1,0
2,4,34,2,958.484177,2,3.297025,3,2,975,2,...,3,80,1,21,2,2,4,3,1,4
3,5,34,3,79.174592,2,2.430032,4,4,1591,3,...,4,80,3,9,3,3,20,6,1,4
4,6,29,3,943.191218,2,10.017149,2,2,1803,3,...,3,80,1,25,2,4,1,7,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,1991,26,3,1437.994264,2,1.312387,3,4,716,1,...,4,80,1,1,3,3,13,10,5,13
796,1992,25,3,446.793690,2,6.906007,4,4,1719,1,...,3,80,0,6,5,2,5,4,0,4
797,1993,26,2,97.635598,2,10.730256,3,4,1027,3,...,2,80,0,9,2,3,5,4,1,4
798,1995,25,2,69.246616,2,0.878959,3,5,1766,2,...,2,80,2,5,3,3,5,0,0,0
799,1999,37,3,1276.251430,2,18.165073,3,5,716,4,...,1,80,0,4,2,4,2,0,1,0

In [10]:
y_train = df_train['Attrition']
y_train

0       0
1       0
2       0
3       1
4       0
       ..
1195    0
1196    0
1197    0
1198    0
1199    1
Name: Attrition, Length: 1200, dtype: int64

In [11]:
x = df_train.drop('Attrition',axis=1)
x

,id,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,0,26,3,450.941476,2,7.601074,3,4,1291,4,...,3,80,0,1,3,2,11,8,7,0
1,3,47,3,730.235896,2,26.739489,3,6,1587,2,...,3,80,1,20,1,1,5,9,4,4
2,7,26,3,1082.560066,1,7.374739,3,2,1591,2,...,2,80,1,4,3,3,3,2,0,2
3,10,46,3,706.247579,2,14.791373,1,4,1572,1,...,4,80,1,6,0,1,5,4,7,7
4,11,25,3,500.610860,2,2.146966,4,4,981,2,...,2,80,1,8,3,3,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,1988,49,3,969.251891,2,13.243579,2,4,1587,4,...,2,80,0,33,3,2,3,2,1,2
1196,1994,37,2,437.940367,2,2.339438,1,5,137,4,...,4,80,0,6,5,2,9,2,0,8
1197,1996,40,1,978.883360,1,10.214979,3,2,1587,3,...,2,80,1,19,2,3,14,9,9,9
1198,1997,37,2,170.494984,3,2.639879,2,3,120,1,...,1,80,2,6,5,3,3,2,0,3
1199,1998,26,3,72.733977,2,28.016088,2,2,215,1,...,1,80,1,7,2,2,2,2,2,2

In [12]:
y = df_train['Attrition']
y

0       0
1       0
2       0
3       1
4       0
       ..
1195    0
1196    0
1197    0
1198    0
1199    1
Name: Attrition, Length: 1200, dtype: int64

In [13]:
from sklearn.linear_model import LogisticRegression as LR
from sklearn.model_selection import cross_val_score, KFold
from sklearn.model_selection import train_test_split
from scipy.stats import sem

In [14]:
#X_train,X_test,y_train,y_test = train_test_split(x,y)

In [15]:
cif = LR()

In [16]:
cif.fit(X_train,y_train)

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [17]:
#b = cif.predict(X_test)
#b

In [18]:
#cif.score(X_test,y_test)

In [19]:
df_test['Attrition'] = cif.predict(X_test)
df_test['Attrition']

0      0
1      0
2      0
3      0
4      0
      ..
795    0
796    0
797    0
798    0
799    0
Name: Attrition, Length: 800, dtype: int64

In [20]:
a = df_test['Attrition']
a

0      0
1      0
2      0
3      0
4      0
      ..
795    0
796    0
797    0
798    0
799    0
Name: Attrition, Length: 800, dtype: int64

In [21]:
submission = pd.DataFrame(df_test['id'])
venue_submission1 = pd.DataFrame(df_test['id'])
venue_submission1 = pd.concat([venue_submission1,a],axis=1)
venue_submission1
venue_submission1.to_csv('log1.csv',index=False,header=False)

In [22]:
venue_submission1

       id  Attrition
0       1          0
1       2          0
2       4          0
3       5          0
4       6          0
..    ...        ...
795  1991          0
796  1992          0
797  1993          0
798  1995          0
799  1999          0

[800 rows x 2 columns]